<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>whatsapp-sentiment-analysis</title>
  <meta name="description" content="Sentimental Analysis of WhatsApp Data">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  
  <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
  <link rel="manifest" href="site.webmanifest">
  <script>
  Dropzone.options.dropChatRecords = {
      init: function() {
        this.on("success", function(file) {
           window.location = '/result';
        });
      }
  };
</script>
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119822493-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119822493-1');
</script>

</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <h1>Whatsapp Sentiment Analysis</h1>
  <% if (result !== null && result.length > 0) { %>
    <div>
         <h1>Result</h1>
         <table>
            <tr>
              <th>Name</th>
              <th>Num Of Messages</th>
              <th>Sentiment Score</th>
              <th>Avg. Length</th>
            </tr>
          <% result.forEach(function(res) { %>
            <tr>
              <td><%= res.name%> </td>
              <td><%= res.numOfMessages%> </td>
              <td><%= res.sentimentScore%> </td>
              <td><%= res.avgLength%> </td>
            </tr>
          <% }); %>
           
        </table>
    </div>
  <% } else { %>
    <h2>Drag Your WhatsApp Record Here.</h2>
    <form action="/upload" class="dropzone" enctype="multipart/form-data" method="post" id="dropChatRecords"></form>
  <% } %>
</body>

</html>